*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #222;
}
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #ff83cd, #8bbae9);
    color: #fff;
    margin: 50px auto 50px;
    border-radius: 40px;
    padding: 40px 35px;
    text-align: center;
}
.search{
    width: 10%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 50px;
    font-size: 20px;
}
.search button{
    border: 0;
    outline: 0;
    background: #fff;
    color: #555;
    border-radius: 100%;
    width: 100px;
    height: 60px;
    font-size: 20px;
    cursor: pointer;
}
.search button img{
    width: 50px; 
    border-radius: 50%;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 30px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 20px;
    margin-top: 3px;
}
.weather{
    display: none;
}
.error{
    display: none;
}
.error p{
    color: red;
    font-weight: bold;
    font-size: 20px;
}
.heading h1{
    font-weight: bold;
    color: #1919c4;
}

/* media query */

@media only screen and (max-width: 393px){

    .card{
        width: 95%;
        background: linear-gradient(135deg, #ff83cd, #8bbae9);
        color: #fff;
        margin: 50px auto 50px;
        border-radius: 40px;
        padding: 40px 35px;
        text-align: center;
    }

    .search{
        width: 10%;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .search input{
        border: 0;
        outline: 0;
        background: #ebfffc;
        color: #555;
        padding: 10px 25px;
        height: 60px;
        border-radius: 30px;
        flex: 1;
        margin-right: 10px;
        width: 200px;
        font-size: 20px;
    }
    .search button{
        border: 0;
        outline: 0;
        background: #fff;
        color: #555;
        border-radius: 100%;
        width: 100px;
        height: 60px;
        font-size: 20px;
        margin-left: 0;
        cursor: pointer;
    }
}

@media only screen and (max-width: 375px){

    .card{
        width: 100vw;
        height: 100vh;
        background: linear-gradient(135deg, #ff83cd, #8bbae9);
        color: #fff;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        max-width: 80rem;
        border-radius: 20px;
        padding: 2rem;
        text-align: center;
    }

    .card > *{
        width: 100%;
    }

    .search{
        width: 10%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    .search input{
        border: 0;
        outline: 0;
        background: #ebfffc;
        color: #555;
        padding: 10px 25px;
        height: 60px;
        border-radius: 30px;
        flex: 1;
        margin-right: 0;
        width: 100px;
        font-size: 50px;
    }
    .search button{
        border: 0;
        outline: 0;
        background: #fff;
        color: #555;
        border-radius: 100%;
        width: 50px;
        height: 30px;
        font-size: 20px;
        margin: 20px auto;
        cursor: pointer;
    }
}

@media only screen and (max-width: 280px){


    .card{
        width: 100%;
        background: linear-gradient(135deg, #ff83cd, #8bbae9);
        color: #fff;
        margin: 50px auto;
        border-radius: 30px;
        padding: 40px 20px;
        text-align: center;
    }

    .search{
        width: 10%;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .search input{
        border: 0;
        outline: 0;
        background: #ebfffc;
        color: #555;
        padding: 10px 10px;
        height: 60px;
        border-radius: 30px;
        flex: 1;
        margin-right: 5px;
        width: 100px;
        font-size: 20px;
    }
    .search button{
        border: 0;
        outline: 0;
        background: #fff;
        color: #555;
        border-radius: 100%;
        width: 100px;
        height: 60px;
        font-size: 20px;
        cursor: pointer;
    }
}

@media only screen and (max-width: 414px){

    .card{
        width: 95%;
        background: linear-gradient(135deg, #ff83cd, #8bbae9);
        color: #fff;
        margin: 50px auto 50px;
        border-radius: 40px;
        padding: 40px 35px;
        text-align: center;
    }

    .search{
        width: 10%;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .search input{
        border: 0;
        outline: 0;
        background: #ebfffc;
        color: #555;
        padding: 10px 25px;
        height: 60px;
        border-radius: 30px;
        flex: 1;
        margin-right: 30px;
        width: 250px;
        font-size: 20px;
    }
    .search button{
        border: 0;
        outline: 0;
        background: #fff;
        color: #555;
        border-radius: 100%;
        width: 100px;
        height: 60px;
        font-size: 20px;
        cursor: pointer;
    }
}

  


